.search-c{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}
.search_cover {
    width: 60%;
    position: relative;
    margin: auto;
}
.search-c input {
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #ffffff;
    padding-inline: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle{
    margin: 2rem 2rem;
}

.circle-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-family: 'Poppins';
    margin: 2rem 2rem
}
.head-text{
    font-size: 1rem;
}
.circle-group div{
    width: 80%;
    height: 2px;
    background-color: #04AA6D;
    margin-left: 0.5rem;
    
}

.card-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    padding-inline: 6.75rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: baseline;
}


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 22%;
    padding: 16px;
    text-align: center;
    position: relative;
    margin-inline: 1rem;
    transition: opacity 0.3s ease-in-out;

}

.prev-btn, .next-btn {
    background-color: #ffffff;
    color: #04AA6D;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    z-index: 1;
    height:3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;


}

.prev-btn:hover,
.next-btn:hover{
    background-color: #e1e1e1;

}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
.card-img{
    cursor: pointer;
}


.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.card-content h2 {
    margin: 1rem;
    font-size: 1.5rem;
}

.card-content p {
    margin: 8px 0;
}

.follow {
    width: fit-content;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #04AA6D;
    /* background-color: #000000; */
    margin-block: 1rem ;
    font-size: 0.8rem;
    color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-family: 'Poppins';
    cursor: pointer;
}
.unfollow{
    width: fit-content;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #bcc1bf;
    /* background-color: #000000; */
    margin-block: 1rem ;
    font-size: 0.8rem;
    color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-family: 'Poppins';
    cursor: pointer;
}