.search-c{
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.search-c li{
    font-size: 1.2rem;
    padding: 5px 0;
}
.search-c i {
    margin-top: 0.4rem;
    font-size: 1.2rem;
}

.search-c input {
    width: 30rem;
    height: 3rem;
    border: none;
    background-color: #dbfff4;
    padding-inline: 1.5rem;
    border-radius: 2px;
}

/* .search-c button{
    border: none;
    width: 5rem;
    height: 3rem;
} */
.search-c input:focus {
    outline: none;
    background-color: #e4f7f1;
}

/* Formatting result items */
.search_result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.search_result p:hover{
    background: #f2f2f2;
}



.circle{
    margin: 2rem 2rem;
}

.circle-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin: 2rem 2rem
}

.circle-group div{
    width: 80%;
    height: 2px;
    background-color: #04AA6D;
    margin-left: 0.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 6.75rem;
    margin-top: 1rem;
}


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 18%;
    padding: 16px;
    text-align: center;
    position: relative;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.card-content h2 {
    margin: 0;
    font-size: 1.5rem;
}

.card-content p {
    margin: 8px 0;
}

.card-content a {
    padding: 0.5rem 1rem;
    background-color: #04AA6D;
    /* background-color: #000000; */

    font-size: 0.8rem;
    color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-family: 'Poppins';
}

.card-content a :hover{
    /* background-color: #000000; */
    background-color: #188a68;

    transition: .25s ease-in-out;

}