
.createpost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px #ccc solid;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 4rem;
}

.createpost img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.createpost button {
    width: 90%;
    height: 2.5rem;
    padding: 0.7rem;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 1rem;
    border: none;
    background-color: #dbfff4;
    border-radius: 2px;
}

.createpost button:hover {
    background-color: #e4f7f1;
}

.postblock{
    border: 1px #ccc solid;
    padding: 10px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: none;
}

.postblock hr{
    width: 95%;
    margin: auto;
}

.posthead{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.posthead h1{
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.posthead i{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
}

.postprofile{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.postprofile img{
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    margin-inline: 1rem;
}

.postprofile span{
    font-size: 1rem;
    font-family: 'Poppins';
}

.postblock textarea{
    width: 80%;
    resize: none;
    margin-inline: 5rem;
    padding-inline-start: 1rem;
    height: 5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    border: none;
}

.postblock textarea:focus{
    outline: none;
}

#file-preview-wrapper{
    display: none;
}

.file-preview{
    display: flex;
    justify-content: center;
}
#uploadPreview{
    width: 60%;
}


.medianpost{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}
.medianpost input{
    display: none;
}

.medianpost i{
    font-size: 1.6rem;
    margin-inline: 0.5rem;
    cursor: pointer;
}

.medianpost button{
    width: 5rem;
    background-color: #04AA6D;
    color: white;
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
}

.medianpost button:hover{
    background-color: #188a68;
    transition: .25s ease-in-out;
}
