.container{
    position: relative;
}
.card{
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#coname{
    display: block;
    width: 100%;
    height: 50px;
    background: white;
    border: #04AA6D 3px solid;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 20px;
    padding-left: 20px;
}

#codisc{
    width: 100%;
    height: 150px;
    border: #04AA6D 3px solid;
    border-radius: 5px;
    background-color: white;
    resize: none;
    font-size: larger;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
#filec{
    display: none;
}

.profile_container{
    cursor: pointer;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

#image{
    margin-top: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.radio_btn{
    margin-bottom: 10px;
}

.registerbtn{
    cursor: pointer;
    background-color: #04AA6D;
    border: 1px #ccc solid;
    padding: 10px 10px;
    color: white;
}