.msg {
    width: 100%;
}

.msg p {
    padding: 5px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
}

/* body starts here */

.main {
    display: flex;
    height: 100vh; /* Set the container height to fill the viewport */
    
}

.comm_bar {
    margin: 10px 10px 0 10px;
    width: 20%;
   
    /* position: sticky;
    left: 0; */
}

.sub_comm_bar {
    margin: 10px 0 10px 0;
    background-color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
}

.show_more {
    margin-top: 0.5rem;
    border-radius: 2px;
    /* background-color: #a7edd8; */
    border:2px solid #a7edd8;
}

.show_more:hover {
    /* background-color: #c7dfd8; */
    border: 2px solid #04AA6D;
    background: none;
}

.show_more h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_comm_bar .head {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Poppins';
    /* margin-top: 1rem; */
    padding: 5px 5px 5px 5px;
}

.sub_comm_bar ul li {
    padding: 12px 12px 12px 12px;
    /* font-family: 'Poppins'; */
}

.sub_comm_bar ul li h3 {
    font-size: 1rem;
    font-family: 'Poppins';
}

.sub_comm_bar ul li:hover {
    /* background-color: #a7edd8; */
    border: 2px solid #04AA6D;
    border-radius: 2px;

}

.create {
    background-color: #04AA6D;
    color: white;
    padding: 0.6rem;
    border-radius: 5px;
}

.create:hover {
    background-color: #188a68;
    transition: .25s ease-in-out;
}


#comm div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1; */
    /* font-size: 1.5rem; */

}

#comm i {
    font-size: 1.5rem;
    color: white;
    /* padding: 10px 0 10px 0;
    background-color: #04AA6D;
    color: white; */
}

#comm p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    color: white;
}

.feed {
    width: 60%;
    /* margin: 0 0 0 0; */
    padding-block-start: 1.36rem;
    flex-grow: 1; /* Allow this section to grow and take available space */
    overflow-y: auto;

    /* Customize scrollbar appearance */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a7edd8 #f0f0f0; /* For Firefox */

  &::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7edd8; /* Thumb color */
    border-radius: 5px; /* Rounded corners on the thumb */
  }
}

.createpost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px #ccc solid;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 4rem;
}

.createpost img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.createpost button {
    width: 90%;
    height: 2.5rem;
    padding: 0.7rem;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 1rem;
    border: none;
    background-color: #dbfff4;
    border-radius: 2px;
}

.createpost button:hover {
    background-color: #e4f7f1;
}

.postblock{
    border: 1px #ccc solid;
    padding: 10px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

.postblock hr{
    width: 95%;
    margin: auto;
}

.posthead{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.posthead h1{
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin-left: 2rem;
}

.posthead i{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
}

.postprofile{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.postprofile img{
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    margin-inline: 1rem;
}

.postprofile span{
    font-size: 1rem;
    font-family: 'Poppins';
}

.postblock textarea{
    width: 80%;
    resize: none;
    margin-inline: 5rem;
    padding-inline-start: 1rem;
    height: 5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    border: none;
}

.postblock textarea:focus{
    outline: none;
}

#file-preview-wrapper{
    display: none;
}

.file-preview{
    display: flex;
    justify-content: center;
}
#uploadPreview{
    width: 60%;
}

.medianpost{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}
.medianpost input{
    display: none;
}

.medianpost i{
    font-size: 1.6rem;
    margin-inline: 0.5rem;
    cursor: pointer;
}

.medianpost button{
    width: 5rem;
    height: 2rem;
    background-color: #04AA6D;
    color: white;
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
}

.medianpost button:hover{
    background-color: #188a68;
    transition: .25s ease-in-out;
}

.tags {
    display: flex;
    align-items: center;
    border: 1px #ccc solid;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    /* position: sticky;
    top: 0; */
}

.tags a {
    border-radius: 2px;
    margin: 6rem;
}

.tags a:hover {
    background-color: #a7edd8;
    transition: .25s ease-in-out;
}

.tags a {
    margin: 0px 15px 0px 0;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 5px;
    border-radius: 2px;
    /* margin: 6rem; */
}

<<<<<<< Updated upstream:css/indexStyle.css
=======
.search-box{
    display: flex;
    margin-left: 5.5rem;
}

.search-box i {
    margin-top: 0.4rem;
    font-size: 1.2rem;
}



.search-box input {
    width: 22rem;
    height: 2rem;
    margin-left: 1rem;
    /* border: 1px solid  #04AA6D; */
    border: 1px solid #a7edd8;
    /* background-color: #dbfff4; */
    padding: 0.8rem;
    padding-inline: 2rem;
    border-radius: 2px;
}

.search-box input:focus {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #188a68;
}

>>>>>>> Stashed changes:css/index.css
.ind_post {
    margin: 10px 0 10px 0;
    /* padding: 10px; */
    border: 1px #ccc solid;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    
}

.ind_post hr {
    margin-block: 0.5rem;
    height: 1px;
    background-color: #04AA6D;
}

.head_post {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.head_post span {
    margin-left: 0.8rem;
    font-family: 'Poppins';

}

.head_post img {
    width: 40px;
    height: 40px;
}

.post-image img{
    width: 100%;
}

.right_side {
    margin: 10px 10px 0 10px;
    width: 20%;
}

.profile {
    margin: 10px 0 10px 0;
    width: 100%;
    height: min-content;
    border: 1px #ccc solid;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.img {
    /* width: 5rem; */
    margin: 0.7rem;
}

.profile .img img {
    margin-top: 10px;
    border: 1px #ccc solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile i {
    height: 10px;
    width: 80%;
    color: black;

}

.info {
    /* padding: 1.2rem; */
    text-align: center;
}

.info :nth-child(1) {
    font-size: 1.2rem;
    font-family: 'Poppins';
    padding: 0.5rem;
}

.pro_cir {
    padding: 1rem;
    font-family: 'Poppins';
}

/* FOOTER STARTS HERE */
/* .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #292a2e;
    color: white;
    padding: 50px;
}

.address{
    margin-right: 30%;
    margin-bottom: 20px;
}
.address p {
    font-size: 20px;
    color: #04AA6D;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-footer{
    float: left;
}
.navbar-footer p {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-footer a {
    color: white;
    margin-bottom: 10px;
}

.copyright {
    background-color: green;
    color: white;
    text-align: center;
} */

/* ............FOOTER ENDS HERE............ */
