.msg {
    width: 100%;
}

.msg p {
    padding: 5px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
}

/* body starts here */

/* .main {
    display: flex;
    height: 100vh; 
    
} */

.main {
    display: flex;
    height: 100%;
}
.comm_bar {
    margin: 1.36rem 10px 0 10px;
    width: 20%;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}
/* .comm_bar {
    margin: 10px 10px 0 10px;
    width: 20%;
} */

.sub_comm_bar {
    margin: 10px 0 10px 0;
    background-color: white;
    border: 2px #ffffff solid;
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
}

.show_more {
    margin-top: 0.5rem;
    border-radius: 2px;
    /* background-color: #a7edd8; */
    border:2px solid #a7edd8;
}

.show_more:hover {
    /* background-color: #c7dfd8; */
    border: 2px solid #04AA6D;
    
}

.show_more h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_comm_bar .head {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Poppins';
    /* margin-top: 1rem; */
    padding: 5px 5px 5px 5px;
}

.sub_comm_bar ul li {
    padding: 12px 12px 12px 12px;
    border: 2px solid #ffffff;

    /* font-family: 'Poppins'; */
}

.sub_comm_bar ul li h3 {
    font-size: 1rem;
    font-family: 'Poppins';

}

.sub_comm_bar ul li:hover {
    /* background-color: #a7edd8; */
    border: 2px solid #04AA6D;
    border-radius: 2px;

}

.create {
    background-color: #04AA6D;
    color: white;
    padding: 0.6rem;
    border-radius: 5px;
}

.create:hover {
    background-color: #188a68;
    transition: .25s ease-in-out;
}


#comm div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1; */
    /* font-size: 1.5rem; */

}

#comm i {
    font-size: 1.5rem;
    color: white;
    /* padding: 10px 0 10px 0;
    background-color: #04AA6D;
    color: white; */
}

#comm p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    color: white;
}
.feed{
    width: 60%;
    margin-left: 21.5%;
    margin-right: 21.5%;
    padding-block-start: 1.36rem;
    flex-grow: 1; /* Allow this section to grow and take available space */
    overflow-y: auto;

    /* Customize scrollbar appearance */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a7edd8 #f0f0f0; /* For Firefox */

  &::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7edd8; /* Thumb color */
    border-radius: 5px; /* Rounded corners on the thumb */
  }
}
.eed {
    width: 60%;
    padding-block-start: 1.36rem;
    flex-grow: 1; /* Allow this section to grow and take available space */
    overflow-y: auto;

    /* Customize scrollbar appearance */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a7edd8 #f0f0f0; /* For Firefox */

  &::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7edd8; /* Thumb color */
    border-radius: 5px; /* Rounded corners on the thumb */
  }
}

.tags {
    display: flex;
    align-items: center;
    border: 1px #ccc solid;
    padding: 5px 5px 5px 10px;
    background-color: white;
    border-radius: 5px;
}

.tags a {
    /* border: 2px solid  #ffffff; */
    cursor: pointer;
}

.tags a:hover {
    /* background-color: #a7edd8; */
    padding-bottom: 0px;
   border-bottom: 2px solid  #04AA6D;
}

.tags a {
    margin: 2px 15px 2px 0px;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
}

.current {
    padding-bottom: 0px;
    border-bottom: 2px solid #04AA6D;
}

.search-box{
    display: flex;
    margin-left: 5.5rem;
}

.search-box i {
    margin-top: 0.4rem;
    font-size: 1.2rem;
}



.search-box input {
    width: 22rem;
    height: 2rem;
    margin-left: 1rem;
    /* border: 1px solid  #04AA6D; */
    border: 1px solid #a7edd8;
    /* background-color: #dbfff4; */
    padding: 0.8rem;
    padding-inline: 2rem;
    border-radius: 2px;
}

.search-box input:focus {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #188a68;
}

.ind_post {
    margin: 10px 0 10px 0;
    /* padding: 10px; */
    border: 1px #ccc solid;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    
}

.ind_post hr {
    margin-block: 0.5rem;
    height: 1px;
    background-color: #04AA6D;
}

.head_post {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.head_post span {
    margin-left: 0.8rem;
    font-family: 'Poppins';

}

.head_post img {
    width: 40px;
    height: 40px;
}

.post-image img{
    width: 100%;
}

.right_side {
    margin: 10px 10px 0 10px;
    width: 20%;
    height: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.profile {
    margin: 10px 0 10px 0;
    width: 100%;
    height: min-content;
    border: 1px #ccc solid;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.img {
    /* width: 5rem; */
    margin: 0.7rem;
}

.profile .img img {
    margin-top: 10px;
    border: 1px #ccc solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile i {
    height: 10px;
    width: 80%;
    color: black;

}

.info {
    /* padding: 1.2rem; */
    text-align: center;
}

.info :nth-child(1) {
    font-size: 1.2rem;
    font-family: 'Poppins';
    padding: 0.5rem;
}

.pro_cir {
    padding: 1rem;
    font-family: 'Poppins';
}

/* FOOTER STARTS HERE */
/* .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #292a2e;
    color: white;
    padding: 50px;
}

.address{
    margin-right: 30%;
    margin-bottom: 20px;
}
.address p {
    font-size: 20px;
    color: #04AA6D;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-footer{
    float: left;
}
.navbar-footer p {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-footer a {
    color: white;
    margin-bottom: 10px;
}

.copyright {
    background-color: green;
    color: white;
    text-align: center;
} */

/* ............FOOTER ENDS HERE............ */
