* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #DAE0E6;
}

a {
    color: black;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px 3px 0px;
    align-items: center;
    border-bottom: #04AA6D 1px solid;
}

.logo {
    padding: 0px;
    margin-left: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo img {
    margin-right: 0.5rem;
}

.logo h1 {
    font-size: 1.5rem;
    padding-inline: 0.3rem;
}

.navbar {
   
}

.navbar nav ul {
    display: inline-flex;
}
.navbar nav ul li {
   padding-inline: 1rem;
}

.navbar nav ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar nav ul li i {
    font-size: 1.25rem;
}
.navbar nav ul li span {
    font-size: 0.9rem;
    font-family: 'Poppins';
}
.navbar nav ul li :hover{
    color: #018859;
    transition: .25s ease-in-out;
}


.navbar a {
    margin: 0 10px 0 10px;
    padding: 5px;
    font-size: 18px;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar .current {
    color: #018859;
}

.login a {
    padding: 0.5rem 1rem;
    background-color: #04AA6D;
    /* background-color: #000000; */

    font-size: 0.8rem;
    color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-family: 'Poppins';
}

.login :hover{
    /* background-color: #000000; */
    background-color: #188a68;

    transition: .25s ease-in-out;

}