
.ind-post{
    background-color: white;
    position: relative;
}
.inside{
    background-color: #e4f2e8;
    display: flex;
    padding : 5px;
}

.info-img{
    width: 5%;
    margin-right: 2%;
}

.info-img img{
    width: 100%;
    border-radius: 50%;
}

.info-text{
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.rep-mes-text{
    background-color: white;
    padding :3px
}

.media-block{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.media-block img{
    width: 60%
}
.text-block{
    padding: 5px 0 5px 0;
}
.post-options{
    display: flex;
    justify-content: left;
    font-size : 20px
}
.opt{
    display: flex;
    margin-left : 10px
}

.msg-options{
    width: 15%;
    font-size: 18px;
    display: none;
    justify-content: space-evenly;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}


.member-bar{
    width: 17%;
    height: 100%;
    padding-top: 20px;
    position: fixed;
    right: 0;
}

.main-member-wrapper{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 10px 5px 10px 10px;
}

.memb-list li{
    color: rgb(120, 120, 120);
    font-family: "poppins";
    font-size: 1rem;
    display: flex;
    position: relative;
}

.memb-status{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#new-member{
    background-color: #04AA6D;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font-family: Poppins;
    cursor: pointer;
}
